# Node modules
/frontend/node_modules/

# Vite build output
/frontend/dist/

# Environment files
.env
.env.local

# Mac system files
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
/backend/.venv/
/backend/venv/